* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}


.App {
  text-align: center;
  /* background: black; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* custom */
.navBar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0;
}

.navBar li {
  display: inline;
}

.rnotify {
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0.8;
  min-height: 24px;
}

/* loading */
.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingAnimation {
  animation: App-logo-spin infinite 20s linear;
  width: 120px;
  height: 120px;
}
/* mainContainer */
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* login */
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
